@import '../../../Layout/colors';

.dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 15px;
  width: 100%;
  height: fit-content;
  background-color: $gray300;
  border: 1px solid $gray500;


  &__label {
    margin-bottom: 0;
    width: 100%;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .arrow-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      background: none;
      border: none;

      i {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .btn {
      width: 100px;
    }
  }

  &__list {
    position: absolute;
    top: 102%;
    left: 0;
    padding: 15px 30px;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    background-color: $gray200;
    border: none;
    overflow: visible;
    transition: transform 0.3s ease;
    z-index: 999;
  }

  &__list.show {
    transform: scaleY(1);
    border: 1px solid $gray500;
    border-top: none;
  }
}
