$gray100: #F8F9FA;
$gray200: #E9ECEF;
$gray300: #DEE2E6;
$gray400: #CED4DA;
$gray500: #ADB5BD;
$gray600: #6C757D;
$gray700: #495057;
$gray800: #343A40;
$gray900: #212529;

:export {
  gray100: $gray100;
  gray200: $gray200;
  gray300: $gray300;
  gray400: $gray400;
  gray500: $gray500;
  gray600: $gray600;
  gray700: $gray700;
  gray800: $gray800;
  gray900: $gray900;
}
